.MainImage{
  width: 30em;
  height: auto;
  }
.BlueText{
  color: blue;
  font-family: Verdana;
  }
  .OrangeBackground{
    background-color: orange;
    font-family: Verdana;
  }
  #SubHeader{
    font-family: Garamond;
  }
  body{
    margin: 0px;
  }

/* Start of blog styles----------------------------------------------*/

#FunkyList li:first-child{
  background-color: gold;
}
#FunkyList li:last-child{
  background-color: gold;
}
#FunkyList li:nth-child(3){
  background-color: lightcoral;
}
#FunkyList li:hover{
  background-color: yellow;
}
#FunkyList a{
  color: black;
}
#FunkyList a:hover{
  color: blue;
}

.Header{
  background-color: #6bed67;
  padding: 5px;
}
.Header>.Container{
  color: Blue;
  font-family: Verdana;
  margin-top: 10px;
  /*text-align: center;*/
}
.MainContentImage{
  width: 20em;
  height: auto;
  margin: auto;
  float: right;
  margin-left: 20px;
  padding: 10px 0px 20px 10px;
}
.Content{
  padding: 20px;
  margin: 10px;
  background-color: white;
  display: block;
}
.Container{
  max-width: 750px;
  margin: 10px auto;
  display: block;
}
.Nav{
  background-color: #c0a8ff;
  list-style: none;
  display: block;
  position: sticky;
  top: 0;
  right: 0;
  width: 100vw ;
}
.Nav>.Container {
  padding: 0px;
}
.Nav> ul >li {
  background-color: orange;
  list-style:none;
  display: inline-block;
  font-size: 110%;
  font-family: Roboto;
  padding: 10px;
  margin:0px;
  position: relative;
}
.Nav .NavDropdowns{
  display: none;
  list-style: none;
  padding: 5px;
  position: absolute;
  top: 30px;
  right: 1px;
}
.Nav a:hover + .NavDropdowns,
.NavDropdowns:hover{
  display: block;
}

.Footer{
  background-color: #6bed67;
  padding: 15px;
}
.Footer>.Container{
  font-family: Verdana;
}
input[type="text"]{
  background-color:tomato;
}
input[type="checkbox"]{
  margin: 15px;
}
